* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  color: #222;
  background: #f7f7f7;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.categories {
  background: #00a8ff;
  color: white;
  text-align: center;
  padding: 60px 0;
}

.categories .subtitle {
  font-size: 14px;
  opacity: 0.9;
}

.categories .title {
  font-size: 32px;
  margin: 10px 0;
}

.categories .desc {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 40px;
}

.grid-cards {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  color: #222;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card p {
  font-weight: 600;
  padding: 10px 15px 0;
}

.card span {
  display: block;
  font-size: 14px;
  opacity: 0.6;
  padding: 0 15px 15px;
}


.gallery {
  background: white;
  padding: 60px 0;
}


.gallery-grid img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.gallery {
  background: white;
  padding: 60px 0;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 200px);
  gap: 15px;
}


.gallery-grid .wide {
  grid-row: span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.gallery-grid img:not(.wide) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  .gallery-grid .wide {
    grid-row: auto;
    height: 220px;
  }

  .gallery-grid img {
    height: 200px;
  }
}



.reviews {
  background: #f1f1f1;
  padding: 60px 0;
  text-align: center;
}

.reviews h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.reviews .desc {
  font-size: 15px;
  color: #555;
  margin-bottom: 40px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.review-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  
  
}

.review-card p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
}

.review-card h4 {
  margin-bottom: 3px;
}


@media (max-width: 768px) {
  .categories .title {
    font-size: 26px;
  }

  .card img {
    height: 130px;
  }

  .reviews h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .categories {
    padding: 40px 0;
  }

  .categories .desc {
    font-size: 14px;
  }

  .card img {
    height: 120px;
  }
}
